<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Index page of improv.live that has information about why the site was made, as well as links to other pages.">
  <meta name="author" content="Kristen Loyd">
  <title>Improv.live</title>
  <!-- Link CSS -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="styles/header.css">
  <link href="../styles/css/footer.css" rel="stylesheet" type="text/css">
  <link href="../styles/css/index.css" rel="stylesheet" type="text/css">
  <!-- Link JQuery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!-- Link Javascript -->
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

  <header class='header'>
    <div class='navbar navbar-default navbar-fixed-top'>
      <div class='container'>
        <div class='row'>
          <!-- Icon -->
          <a class="navbar-brand pull-left" href="index.html"><img class='logo' src="https://openclipart.org/favicon.ico" alt="Improv.live logo"></a>
          <!--<a href='index_copy.html' class='navbar-brand pull-left'></a>-->
          <!-- Button for nav links for small windows -->
          <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
	    <span class='sr-only'>Toggle Navigation</span>
	    <span class='icon-bar'></span>
	    <span class='icon-bar'></span>
	            <span class='icon-bar'></span>
		    </button>
          <!-- List of nav links for collapse button -->
          <ul class='nav navbar-nav navbar-right collapse navbar-collapse'>
            <li><a href='index.html'>Home</a></li>
            <li><a href='game.html'>Games</a></li>
            <li><a href='wheel.html'>Wheel</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /.navbar -->
  </header>

  <main class='container main'>
    <!--<div class='column'> -->
    <div class='welcome-header col-xs-12'>
      <h1 class='text-center'>Welcome to Improv.live!</h1>
    </div>
    <div class='row'>
      <div class='row col-lg-4 col-md-4 col-sm-12 col-xs-12'>
        <img class='img-responsive' src='https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/14720416_1466615533357564_5514909802718164417_n.jpg?oh=bc0dbbaca99f47b6b74d41583b4e7392&oe=5A662CE7' alt='Slide 1'>
      </div>
      <div class='main-text col-lg-8 col-md-8 col-sm-12 col-xs-12'>
        <h2 class='text-center'>Improvisation doesn't have to be hard.</h2>
        <p>Too often at improv jams or practices, more time is spent choosing a game instead of playing it. There are hundreds of different improv games and it can be overwhelming to choose one you want to play.</p>
        <p>The purpose of this site is to make improv games accessible to all by providing instructions to various improv games and to make it easy to choose what to play by providing filters and a wheel.</p>
      </div>
    </div>
    <div class='row'>
      <div class='row col-lg-4 col-md-4 col-sm-12 col-xs-12'>
        <img class='img-responsive' src='https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/16114063_1412211132131338_3606631734866189802_n.jpg?oh=eebfd95eabf9b2815ca54ef6d36100fb&oe=5A7A809A' alt='Slide 2'>
      </div>
      <div class='main-text col-lg-8 col-md-8 col-sm-12 col-xs-12'>
        <h2 class='text-center'>The Games</h2>
        <p> Do you know the number of people playing a game, but not what you want to play? That's okay!</p>
        <p>The <a href="game.html">Games</a> page allows you to filter the games shown based on number of players.</p>
      </div>
    </div>
    <div class='row'>
      <div class='row col-lg-4 col-md-4 col-sm-12 col-xs-12'>
        <img class='img-responsive' src='https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/12033241_1051054694913652_4869240922767485811_n.jpg?oh=6a28b9b4429f4b2963e8c02c0eb4ba73&oe=5A765693' alt='Slide 4'>
      </div>
      <div class='main-text col-lg-8 col-md-8 col-sm-12 col-xs-12'>
        <h2 class='text-center'>The Wheel</h2>
        <p> Do you know the number of players in a game, but don't want to read many game descriptions?</p>
        <p>Let the <a href="wheel.html">Wheel</a> choose a game for you!</p>
        <p> Alternatively, if you know the game you're playing, but need a prompt, simply choose the type of prompt you need and spin the wheel for a randomized one!</p>

      </div>
    </div>
    <!--</div>-->

  </main>

  <footer class='footer'>
    <div class='container'>
      <div class='column'>
        <a class='pull-left logo col-lg-4 col-md-4 col-sm-2 col-xs-2' href='index.html'><img src='https://openclipart.org/favicon.ico' alt='Improv.live logo'></a>
        <p class='col-lg-6 col-md-6 col-sm-6 col-xs-6'> Have feedback for Improv.live? Contact the developer via Twitter or LinkedIn
          <p>
            <a class='col-lg-1 col-md-1 col-sm-1 col-xs-1' href='https://www.linkedin.com/in/kristen-loyd-34984a92/'><img class='logo' src='https://static.licdn.com/sc/h/al2o9zrvru7aqj8e1x2rzsrca' alt="LinkedIn logo linking to developer's profile"></a>
            <a class='col-lg-1 col-md-1 col-sm-1 col-xs-1' href='https://twitter.com/Biebop1'><img class='logo' src='https://abs.twimg.com/errors/logo23x19.png' alt="Twitter logo linking to developer's profile"></a>
      </div>
    </div>
  </footer>
</body>

</html>
